body {
  background-color: #F0F0F0;
  color: #6500E0;
  font-family: "URW Gothic", serif;
}
.dark-theme {
  background-color: #242424;
  color: #CDA3FF;
}
.dark-theme .btn {
  background-color: #CDA3FF;
}
